@model List<AppUser>

<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">UserName</th>
                <th scope="col">Email</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.UserName</th>
                    <th>@item.Email</th>
                    <td><a onclick="if(!confirm('Are Your Sure?')){return false;}" asp-controller="account" asp-action="delete" asp-route-id="@item.UserName" class=" delete-item"><i class="fas fa-trash text text-danger"></i></a></td>
                </tr>
            }

        </tbody>
    </table>
    <div>
        <a asp-controller="account" asp-action="Register" style="display: block; text-decoration: none; color: white; width: 100%; height: 100%"> <div style="width:100%; " class="btn btn-outline-success">Admin yarat </div></a>
    </div>

</div>



@*burada maragli bir olay odurki return false qoymurki a tago hereket edir bir nov preventdefault ozeliiyi atamis olur*@