@model Setting

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title">Name</label>
            <input type="text" class="form-control" asp-for="Title" />
            <span class="text text-danger" asp-validation-for="Title"></span>

        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input type="text" class="form-control" asp-for="Description" />
            <span class="text text-danger" asp-validation-for="Description"></span>

        </div>
        <div class="form-group">
            <label asp-for="AboutTitle"></label>
            <input type="text" class="form-control" asp-for="AboutTitle" />
            <span class="text text-danger" asp-validation-for="AboutTitle"></span>

        </div>
        <div class="form-group">
            <label asp-for="AboutText"></label>
            <input type="text" class="form-control" asp-for="AboutText" />
            <span class="text text-danger" asp-validation-for="AboutText"></span>

        </div>
        <div class="form-group">
            <label asp-for="AboutText1"></label>
            <input type="text" class="form-control" asp-for="AboutText1" />
            <span class="text text-danger" asp-validation-for="AboutText1"></span>

        </div>
        <div class="form-group">
            <label asp-for="AboutText2"></label>
            <input type="text" class="form-control" asp-for="AboutText2" />
            <span class="text text-danger" asp-validation-for="AboutText2"></span>

        </div>
        <div class="form-group">
            <label asp-for="AllTitle"></label>
            <input type="text" class="form-control" asp-for="AllTitle" />
            <span class="text text-danger" asp-validation-for="AllTitle"></span>

        </div>
        <div class="form-group">
            <label asp-for="FooterTitle"></label>
            <input type="text" class="form-control" asp-for="FooterTitle" />
            <span class="text text-danger" asp-validation-for="FooterTitle"></span>

        </div>
        <div class="form-group">
            <label asp-for="FooterText"></label>
            <input type="text" class="form-control" asp-for="FooterText" />
            <span class="text text-danger" asp-validation-for="FooterText"></span>

        </div>


        <div class="form-group">
            <label asp-for="FormFile1"></label>
            <input accept="image/*" type="file" class="form-control" asp-for="FormFile1" />
            <span class="text text-danger" asp-validation-for="FormFile1"></span>

        </div>
        <div class="form-group">
            <label asp-for="FormFile2"></label>
            <input accept="image/*" type="file" class="form-control" asp-for="FormFile2" />
            <span class="text text-danger" asp-validation-for="FormFile2"></span>

        </div>
        @Html.AntiForgeryToken()
        <button type="submit">Update</button>
    </form>
</div>