@model Position

<div class="container">
    <form method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" class="form-control" asp-for="Name" />
            <span class="text text-danger" asp-validation-for="Name"></span>

        </div>



        @Html.AntiForgeryToken()
        <button type="submit">Update</button>
    </form>
</div>