@model Year

<div class="container">
    <form method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label asp-for="year"></label>
            <input type="text" class="form-control" asp-for="year" />
            <span class="text text-danger" asp-validation-for="year"></span>

        </div>

        <div class="form-group">
            <select asp-for="BrandId" class="form-select" aria-label="Disabled select example">
                <option>Choose Position</option>
                @foreach (var item in ViewBag.Brands)
                {
                    <option value="@item.Id">@item.Name</option>
                }

            </select>
            <span class="text text-danger" asp-validation-for="BrandId"></span>
        </div>



        @Html.AntiForgeryToken()
        <button type="submit">Create</button>
    </form>
</div>